@model DiplomadoMVC_Crud_HTML_Helps_NoTipados.Models.Productos
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatosArticulo</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ModificacionProducto", "Home", FormMethod.Post))
        {
            <p>
                Codigo de Producto:
                @Html.DisplayFor(Model=> Model.Codigo)
                @Html.HiddenFor(model => model.Codigo)
            </p>
            <p>
                Descripcion:
                @Html.TextBoxFor(model => model.Descripcion)
            </p>
            <p>
                Precio:
                @Html.TextBoxFor(model=>model.Precio)
            </p>
            <p>
                <input type="submit" value="Confirmar" />
            </p>
        }
    </div>
</body>
</html>